@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #fffdf5;
  min-height: 100vh;
  user-select: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
